// définir les couleurs, les tailles...

// colors

$blue: #345FF6;
$gunMetal: #253347;
$darkElectric: #5E6E85;
$borders: #D8E2E7;
$white: #FFFFFF;


//radius

$fullBorder: 16px;
$bottomBorder: 0 0 35px 35px;