.input-height-weight {
  display: flex;
  flex-direction: column;
}

.card-limitation p, .container-limitation-text p, .tips p, .container-text-your-result p, .description p {
  font-size: 16px;
  line-height: 150%;
  color: #5E6E85;
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: inter;
  font-size: 16px;
}

input {
  cursor: pointer;
}

body {
  position: relative;
}

.hero {
  position: relative;
  margin-bottom: 72px;
}

.background-hero {
  background-image: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  width: 100vw;
  height: 640px;
  border-radius: 0 0 35px 35px;
  position: absolute;
}

.container-hero {
  position: relative;
  display: flex;
  flex-direction: column;
}

.description {
  text-align: center;
  padding: 32px 24px;
  position: relative;
}
.description img {
  height: 40px;
  margin-bottom: 24px;
}
.description h1 {
  font-size: 48px;
  font-weight: 600;
  color: #253347;
  letter-spacing: -0.05em;
  line-height: 110%;
  margin-bottom: 24px;
}
.calculate {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
  position: relative;
  margin: 0 24px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.2509803922);
}
.calculate h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #253347;
  text-align: left;
  margin-bottom: 24px;
}

.choice-units {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.choice-units .choice {
  flex-grow: 1;
  text-align: left;
  display: flex;
  align-items: center;
}
.choice-units input {
  position: relative;
  margin-right: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgba(52, 95, 246, 0.15);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0px rgba(52, 95, 246, 0.15);
  transition: box-shadow 0.2s ease-out, border 0.2s ease-out;
}
.choice-units input:hover {
  border: 1px solid rgb(52, 95, 246);
}
.choice-units input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background-color: #345FF6;
  transition: all 0.2s ease-out;
}
.choice-units input:checked {
  box-shadow: inset 0 0 0 7px rgba(52, 95, 246, 0.15);
}
.choice-units input:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #345FF6;
}
.choice-units label {
  font-weight: 600;
  line-height: 150%;
  color: #253347;
}

.container-unit {
  position: relative;
  overflow: hidden;
}

.unit-metric {
  position: relative;
  max-width: 0;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.unit-metric.active {
  opacity: 1;
  max-width: 650px;
  max-height: 650px;
}

.unit-imperial {
  position: relative;
  max-width: 0;
  max-height: 0;
  opacity: 0;
  transform-origin: right;
  transition: all 0.3s ease-out;
}
.unit-imperial .input-wrapper {
  display: flex;
  gap: 16px;
}
.unit-imperial .input-wrapper .metric-input-wrapper {
  position: relative;
}
.unit-imperial.active {
  opacity: 1;
  max-width: 650px;
  max-height: 650px;
}

.input-height-weight {
  position: relative;
}
.input-height-weight label {
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  color: #5E6E85;
  margin-bottom: 8px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.input-wrapper input {
  width: 100%;
  height: 70px;
  padding: 20px 24px;
  border: none;
  border: 1px solid #D8E2E7;
  border-radius: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #253347;
}
.input-wrapper input:hover {
  border: 1px solid rgb(52, 95, 246);
}
.input-wrapper input:focus {
  outline: none;
  border: 1px solid #345FF6;
}
.input-wrapper span {
  position: absolute;
  top: 20px;
  right: 24px;
  font-weight: 600;
  font-size: 24px;
  color: #345FF6;
}

.bmi-result {
  background-color: #345FF6;
  padding: 32px;
  color: #FFFFFF;
  text-align: left;
  border-radius: 16px;
}
.bmi-result h3 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
}
.bmi-result #result {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.bmi-result .bmi-result-description {
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.bmi-result .bmi-result-description span {
  font-weight: 600;
}

@media (min-width: 768px) {
  .description {
    padding: 32px 40px;
  }
  .description .calculate {
    padding: 32px;
    margin-top: 40px;
  }
  .description .calculate h2 {
    margin-bottom: 32px;
  }
  .choice-units {
    margin-bottom: 32px;
  }
  .unit-metric {
    display: flex;
    gap: 24px;
  }
  .bmi-result {
    margin-top: 16px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 1500px;
    border-bottom-left-radius: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .bmi-result .container-title-result {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bmi-result .container-title-result #title-bmi {
    flex-grow: 1;
  }
  .bmi-result .container-title-result #result {
    flex-grow: 1;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .hero {
    margin-bottom: 65px;
  }
  .background-hero {
    width: 68vw;
    height: 737px;
    left: 24px;
  }
  .container-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 75px 10vw;
    height: 737px;
  }
  .description {
    flex-grow: 1;
    text-align: left;
    padding: 0;
    padding-right: 6.9vw;
  }
  .description img {
    height: 64px;
    margin-bottom: 131px;
  }
  .description h1 {
    font-size: 64px;
    margin-bottom: 35px;
  }
  .calculate {
    flex-grow: 1;
    margin: 0;
    margin-top: 107px;
  }
  .bmi-result {
    grid-template-columns: 1fr;
  }
}
.your-result {
  position: relative;
  display: grid;
  grid-template: auto 1fr/1fr;
}
.your-result .curved-line-left {
  display: none;
}

.container-img {
  position: relative;
  width: 100%;
}
.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-text-your-result {
  padding: 48px 24px;
}
.container-text-your-result h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #253347;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .your-result {
    position: relative;
    display: grid;
    grid-template: 411px/1fr 1fr;
    gap: 50px;
    margin-bottom: 96px;
    transform: translateX(-40px);
  }
  .container-img {
    position: relative;
    width: 100%;
    border-bottom-right-radius: 16px;
  }
  .container-img img {
    width: 100%;
    height: 100%;
    object-fit: content;
  }
  .container-text-your-result {
    padding: 48px 10px;
  }
}
@media (min-width: 1024px) {
  .your-result {
    transform: translateX(0);
    grid-template: 533px/1.5fr 1fr;
    padding: 0 9.7vw;
    gap: clamp(100px, 9.5vw, 200px);
  }
  .your-result .curved-line-left {
    display: block;
    position: absolute;
    top: -50px;
    right: 12vw;
  }
  .container-img {
    position: relative;
    width: 100%;
    max-width: 625px;
    border-bottom-right-radius: 16px;
  }
  .container-img img {
    width: 100%;
    height: 100%;
    object-fit: content;
    object-position: center;
  }
  .container-text-your-result {
    padding: 0;
    padding-top: 130px;
    align-self: center;
  }
  .container-text-your-result h2 {
    font-size: 48px;
    margin-bottom: 35px;
  }
}
.tips {
  position: relative;
  margin-bottom: 72px;
}
.tips .tips-container {
  position: relative;
  display: grid;
  grid-template: auto 1fr/1fr;
  gap: 40px;
  padding: 56px 20px;
}
.tips .background-tips {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  opacity: 25%;
  z-index: -1;
}
.tips img {
  margin-bottom: 32px;
}
.tips h3 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #253347;
}
@media (min-width: 768px) {
  .tips {
    margin-bottom: 96px;
  }
  .tips img {
    margin: 0;
  }
  .tips .tips-container {
    padding: 60px 40px;
    display: grid;
    grid-template: auto 1fr/1fr;
    gap: 40px;
  }
  .tips .background-tips {
    left: 0px;
  }
  .container-tips {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
@media (min-width: 1024px) {
  .tips {
    position: relative;
    margin-bottom: 120px;
  }
  .tips .tips-container {
    padding: 72px 9.7vw 96px;
    grid-template: 1fr/repeat(3, 1fr);
  }
  .tips .background-tips {
    padding: 0 24px;
    background-clip: content-box;
  }
  .container-tips {
    flex-direction: column;
    align-items: flex-start;
  }
}
.bmi-limitations {
  padding: 0 20px;
  margin-bottom: 96px;
  display: grid;
  grid-template: auto/1fr;
  gap: 16px;
}

.container-limitation-text {
  margin-bottom: 40px;
}
.container-limitation-text h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.05em;
  color: #253347;
  margin-bottom: 32px;
}
.container-limitation-text p {
  text-align: center;
}

.card-limitation {
  padding: 24px;
  background-color: #FFFFFF;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
}
.subtitle-limitation {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.subtitle-limitation h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #253347;
}

.curved-line-left {
  display: none;
}

@media (min-width: 768px) {
  .bmi-limitations {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 15px;
  }
  .card-limitation {
    max-width: 335.5px;
    padding: 32px;
  }
}
@media (min-width: 1400px) {
  .bmi-limitations {
    padding: 0 9.7vw;
    margin-bottom: 120px;
    column-gap: 1vw;
  }
  .container-limitation-text {
    max-width: 564px;
    margin-right: auto;
  }
  .container-limitation-text h3 {
    text-align: left;
    font-size: 48px;
  }
  .container-limitation-text p {
    text-align: left;
  }
  .card-limitation {
    min-width: 365px;
  }
  .card-limitation:nth-child(2) {
    margin-right: auto;
  }
  .curved-line-left {
    display: block;
    min-width: 365px;
    text-align: center;
  }
}
@media (min-width: 1640px) {
  .bmi-limitations {
    column-gap: 2.5vw;
  }
  .curved-line-left {
    margin-left: auto;
    min-width: 565px;
  }
}

/*# sourceMappingURL=style.css.map */
